@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */

.bg-home-image {
    background-image: url('pexels-souvenirpixels-417074.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;
  }
  
.bg-loading {
  background-color: rgb(250, 236, 218);
  height: 100vh; 
  width: 100%;
}  

.img {
  background-image: url(3d1f91f17fa311ee9def222e7fa838a6_upscaled.jfif);
  /* height: 50vh; 
  width: 50%; */
}

.icon {
  background-image: url(1655106-512.png);
}

.icon2 {
  background-image: url(images.png);
}

.bg {
  background-color: #FFF4B7
}

.container {
  background-color: #006A67;
}